.service-container {
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.service-container h1 {
    text-align: center;
    color: black;
    
}
.service-container h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.services-content{
    flex: 1 1;
    min-width: 430px;
    padding: 5px;
    
    
    
    
    margin: 10px;
    margin-left: 5px;
    margin-right: 300px;
    box-sizing: border-box;
}
.middle-content .news{
    padding-left: 20%;
}
.middle-content {
    flex: 1 1;
    max-width: 600px;
    padding: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 10px;
      margin-right: 10px;
      margin-left: 10px;
    margin-left: 5px;
    margin-right: 196px;
    box-sizing: border-box;
  }
.service-image {
    width: 130%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-content {
    background-color: green;
    padding: 15px;
    width: 123%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/*@media (max-width: 466px) {
.service-content p {
    line-height: 1.6;
    margin: 10px 0;
    color: white;
    width: 700px;
}
.service-content p {
    line-height: 1.6;
    margin: 10px 0;
    color: white;
    width: 100%;
  }
}*/
@media (max-width: 800px) {
  
   .middle-content {
        flex: 1 1;
        max-width: 200px;
        padding: 7px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        margin: 10px;
        margin-left: 5px;
        margin-right: 196px;
        box-sizing: border-box;
   }
    .services-content {
        flex: 1 1;
        min-width: 315px;
        padding: 5px;
        margin: 10px;
          margin-right: 10px;
          margin-left: 10px;
        margin-left: 5px;
        margin-right: 300px;
        box-sizing: border-box;
      }
      
      
    }
    
    

    @media (min-width: 845px){
        .About-content {
          flex: 1 1;
          min-width: 279px;
          padding: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          background-color: #fff;
          margin: 10px;
          margin-right: 10px;
          margin-left: 10px;
          margin-right: 10px;
          margin-left: 10px;
          margin-left: 5px;
          margin-right: 194px;
          box-sizing: border-box;
        }
        }
        @media (max-width: 985px){
            .About-content {
              flex: 1 1;
              min-width: 200px;
              padding: 5px;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
              background-color: #fff;
              margin: 10px;
              margin-right: 10px;
              margin-left: 10px;
              margin-right: 10px;
              margin-left: 10px;
              margin-left: 5px;
              margin-right: 194px;
              box-sizing: border-box;
            }
        }
        @media (max-width: 986px){
            .About-content {
              flex: 1 1;
              min-width: 273px;
              padding: 5px;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
              background-color: #fff;
              margin: 10px;
              margin-right: 10px;
              margin-left: 10px;
              margin-right: 10px;
              margin-left: 10px;
              margin-left: 5px;
              margin-right: 194px;
              box-sizing: border-box;
            }
        }
        

        
@media (max-width: 1000px) {
.service-content {
    background-color: green;
    padding: 15px;
    width: 57%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .service-image {
    width: 64%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    margin-left: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 0%;
  }
  .middle-content {
    flex: 1 1;
    max-width: 291px;
    padding: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 10px;
      
    
    margin-left: 5px;
    margin-right: 196px;
    box-sizing: border-box;
  }
  .content .news {
    margin-left: -28%;
    padding-top: 1%;
    padding-left: 28%;
  }
}
