.logo{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 4%;

}
.nav{
   
    padding: 8px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    
}
.logo1{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 4%;

}
